<div>
    <div class="checkbox">
        <label>
            {{input type="checkbox" checked=poolpump}} Pool pump
        </label>
    </div>
    <form id="pool-pump-fields" class="hidden-inputs">
        <div class="form-group">
            <label for="existing-pool-pump" class="control-label">Existing Pool Pump Draw</label>
            {{ input type="text" class="form-control" name="existing-pool-pump" id="existing-pool-pump" placeholder="Existing Pool Pump Draw" focus-out="updateData" }}
        </div>

        <div class="form-group">
            <label for="new-pool-pump-draw" class="control-label">New Pool Pump Draw</label>
            {{ input type="text" class="form-control" id="new-pool-pump-draw" placeholder="New Pool Pump Draw" focus-out="updateData" }}
        </div>
        <div class="form-group">
            <label for="hours-used-each-month" class="control-label">Hours used each month</label>
            {{ input type="text" class="form-control" id="hours-used-each-month" placeholder="Hours used each month" focus-out="updateData" }}
        </div>
    </form>
    <div class="checkbox">
        <label>
            {{ input type="checkbox" checked=aerosol }} Aerosol
        </label>
    </div>
    <form id="aerosol-fields" class="hidden-inputs">
        <div class="form-group">
            <label for="hours-used-each-month" class="control-label">Percent of Heating or Cooling Usage (percentage)</label>
            <input type="text" class="form-control" id="hours-used-each-month" placeholder="Percentage" value="25">
        </div>
    </form>
    <div class="checkbox">
        <label>
            {{ input type="checkbox" checked=solar }} Solar hot water
        </label>
    </div>
    <form id="solar-fields" class="hidden-inputs">
         <div class="form-group">
            <label for="hours-used-each-month" class="control-label">Kilowatt Hours</label>
            <input type="text" class="form-control" id="hours-used-each-month" placeholder="Kilowatt Hours">
        </div>
    </form>
</div>