<table class="table table-striped proposal-item-table">
    <tbody>
    <tr>
        <td>Potential Name</td>
        <td><a href="#" class="editable">{{ model.potentialName }}</a></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><a href="#" class="editable">{{ model.address }}</a></td>
    </tr>
    <tr>
        <td>Utility</td>
        <td><a href="#" class="editable">{{ model.utility }}</a></td>
    </tr>
    <tr>
        <td>Rate Schedule</td>
        <td><a href="#" class="editable">{{ model.rateSchedule }}</a></td>
    </tr>
    <tr>
        <td>Average Bill</td>
        <td><a href="#" class="editable">{{ model.averageBill }}</a></td>
    </tr>
    <tr>
        <td>Anual Usage</td>
        <td><a href="#" class="editable">{{ model.anualUsage }}</a></td>
    </tr>
    </tbody>
</table>
