<ul class="nav nav-pills nav-wizard" id="fixed-breadcrumb" role="tablist">
    <li class="{{if (eq slideName "lookup") "active"}}">
        <a {{action "setSlide" "lookup"}}>Customer Lookup</a>

        <div class="nav-arrow"></div>
    </li>
    <li class="{{if (eq slideName "utility-data") "active"}}">
        <div class="nav-wedge"></div>
        <a  {{action "setSlide" "utility-data"}} >Utility Data</a>

        <div class="nav-arrow"></div>
    </li>

    <li class="{{if (eq slideName "address") "active"}}">
        <div class="nav-wedge"></div>
        <a {{action "setSlide" "address"}}>Address</a>

        <div class="nav-arrow"></div>
    </li>

    <li class="{{if (eq slideName "energy-efficiency") "active"}}">
        <div class="nav-wedge"></div>
        <a {{action "setSlide" "energy-efficiency"}}>Energy
            Efficiency</a>

        <div class="nav-arrow"></div>
    </li>
    <li class="{{if (eq slideName "solar-production") "active"}}">
        <div class="nav-wedge"></div>
        <a {{action "setSlide" "solar-production"}}>Solar Production</a>

        <div class="nav-arrow"></div>
    </li>
    <li class="{{if (eq slideName "financing") "active"}}">
        <div class="nav-wedge"></div>
        <a {{action "setSlide" "financing"}}>Financing</a>

        <div class="nav-arrow"></div>
    </li>
    <li class="{{if (eq slideName "solution-presentation") "active"}}">
        <div class="nav-wedge"></div>
        <a {{action "setSlide" "solution-presentation"}}>Solution Presentation</a>

    </li>

</ul>