<ul class="nav nav-pills nav-wizard" id="fixed-breadcrumb" role="tablist">
    <li class="{{if (eq slideName "lookup") "active"}}">
        <a {{action "setSlide" "lookup"}} data-toggle="tab" data-where="#customer-lookup">Customer Lookup</a>

        <div class="nav-arrow"></div>
    </li>
    <li class="{{if (eq slideName "utility-data") "active"}}">
        <div class="nav-wedge"></div>
        <a  {{action "setSlide" "utility-data"}} >Utility Data</a>

        <div class="nav-arrow"></div>
    </li>

    <li class="{{if (eq slideName "address") "active"}}">
        <div class="nav-wedge"></div>
        <a {{action "setSlide" "address"}} data-toggle="tab" data-where="#proposal-wrapper">Address</a>

        <div class="nav-arrow"></div>
    </li>

    <li class="{{if (eq slideName "energy-efficiency") "active"}}">
        <div class="nav-wedge"></div>
        <a {{action "setSlide" "energy-efficiency"}} data-toggle="tab" data-where="#project-wrapper">Energy Efficiency</a>

        <div class="nav-arrow"></div>
    </li>
    <li>
        <div class="nav-wedge"></div>
        <a href="#" data-toggle="tab" data-where="#company-wrapper">Company Presentation</a>

        <div class="nav-arrow"></div>
    </li>
    <li>
        <div class="nav-wedge"></div>
        <a href="#" data-toggle="tab" data-where="#presentation-wrapper">Solution Presentation</a></li>
</ul>