<div class="step-container">
  {{ view "proposal/view" }}
</div>

<div class="step-container">
  {{ view "proposal/energy-efficiency" }}
</div>

<div class="step-container">
  {{ view "proposal/project-design" }}
</div>

<div class="step-container">
  {{ view "proposal/presentation" }}
</div>
{{outlet}}
