<div role="tabpanel">
    <div class="" id="top-fix-container">
        <div class="row">
            <div class="container">
              {{view "proposal/breadcrumb"}}
            </div>
        </div>
    </div>

    <section id="widget-grid">

        <div class="step-container" id="customer-lookup">
          {{ view "proposal/list" }}
        </div>

        <div class="step-container">
          {{outlet "proposal"}}
        </div>

      {{outlet "proposal-item"}}

    </section>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
              {{ view "proposal/chart" }}
              {{!-- charts/barchart-potential chart-id="adqwdqwd" --}}

            </div>
        </div>

    </div>
</div>

