{{view "proposal/breadcrumb"}}

<div class="col-md-3">
    <div class="sidebar-module sidebar-module-inset">

        {{ view "proposal/chart" }}

        <h4>About</h4>

        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum.
            Aenean lacinia bibendum nulla sed consectetur.</p>
    </div>
</div>
<div class="col-md-9">

    <section id="widget-grid">

        <div class="step-container">
          {{ view "proposal/list" }}
        </div>

        <div class="step-container">
          {{outlet "proposal"}}
        </div>

      {{outlet "proposal-item"}}

    </section>
</div>
