{{#get-started-slider nextSlide="utility-data" action="setSlide" slideName="lookup"}}


<div class="step-container">

  {{#widget-collspandable title="Select a market profile"}}
    {{view "select"
    content=marketProfiles
    optionValuePath="content.id"
    optionLabelPath="content.name"
    value=selectedProfileId
    prompt="Please select a market profile"
    class="form-control"}}
  {{/widget-collspandable}}
</div>


<div class="step-container" id="potential-wrapper">
  {{#widget-collspandable title="Potential" widget-id="potential-widget"}}
    {{ proposal/view-table update="savePotentialToApi" model=model }}
  {{/widget-collspandable}}
</div>

<div class="step-container" id="some-wrapper">
  {{#widget-collspandable title="System Info" widget-id="system-info-widget" collapsed="true"}}
      <div>
          <form id="some-form">
              <div class="form-group">
                  <label for="syste-size-input">DC System size</label>
                {{ input type="text" class="form-control" name="system-size-input" placeholder="DC System size" }}
              </div>
              <div class="form-group">
                  <label for="system-production-input">Module Type</label>
                {{ input type="text" class="form-control" name="module-type" placeholder="Module Type" }}
              </div>
              <div class="form-group">
                  <label for="price-per-watt">Array Type</label>
                {{ input type="text" class="form-control" name="array-type" placeholder="Array Type" }}
              </div>
              <div class="form-group">
                  <label for="price-per-watt">System Losses (%)</label>
                {{ input type="text" class="form-control" name="system-losses" placeholder="System Losses" }}
              </div>
              <div class="form-group">
                  <label for="price-per-watt">Tilt</label>
                {{ input type="text" class="form-control" name="array-type" placeholder="Array Type" }}
              </div>
          </form>
      </div>
  {{/widget-collspandable}}
</div>

<div class="step-container" id="some2-wrapper">
  {{#widget-collspandable title="Advanced Parameters" widget-id="system2-info-widget" collapsed="true"}}
      <div>
          <form id="some-form">
              <div class="form-group">
                  <label for="syste-size-input">DC to AC size ratio</label>
                {{ input type="text" class="form-control" name="system-size-input" placeholder="DC to AC size ratio" }}
              </div>
              <div class="form-group">
                  <label for="system-production-input">Inverter efficiency (%)</label>
                {{ input type="text" class="form-control" name="module-type" placeholder="Inverter Efficiency" }}
              </div>
              <div class="form-group">
                  <label for="price-per-watt">Ground Coverage Ratio</label>
                {{ input type="text" class="form-control" name="array-type" placeholder="Ground Coverage Ratio" }}
              </div>
          </form>
      </div>
  {{/widget-collspandable}}
</div>

<div class="step-container" id="some3-wrapper">
  {{#widget-collspandable title="Initial Economics" widget-id="system3-info-widget" collapsed="true"}}
      <div>
          <form id="some-form">
              <div class="form-group">
                  <label for="syste-size-input">System Type</label>
                {{ input type="text" class="form-control" name="system-size-input" placeholder="DC to AC size ratio" }}
              </div>
              <div class="form-group">
                  <label for="system-production-input">Average Cost of Electricity Purchased</label>
                {{ input type="text" class="form-control" name="module-type" placeholder="Average Cost of Electricity Purchased" }}
              </div>
              <div class="form-group">
                  <label for="price-per-watt">Initial Cost</label>
                {{ input type="text" class="form-control" name="array-type" placeholder="Initial Cost" }}
              </div>
          </form>
      </div>
  {{/widget-collspandable}}
</div>

<div class="step-container" id="energy-wrapper">
  {{#widget-collspandable title="Energy Efficiency" widget-id="energy-efficiency-widget" collapsed="true"}}
    {{ proposal/energy-efficiency update="saveProposalToApi" proposal=proposal energy=energy }}
  {{/widget-collspandable}}
</div>

<div class="step-container" id="project-wrapper">
  {{#widget-collspandable title="Project Design" widget-id="project-design-widget" collapsed="true"}}
    {{proposal/project-design update="saveProposalToApi" project-design=project-design}}
  {{/widget-collspandable}}
</div>

<div class="step-container" id="presentation-wrapper">
  {{#widget-collspandable title="Presentation" widget-id="action-buttons-widget"}}
    {{proposal/action-buttons update="saveProposalToApi" proposal=proposal}}
  {{/widget-collspandable}}
</div>
{{outlet}}

{{/get-started-slider}}